<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- JC. Modified CSS location and all images to /images -->
<!-- @@@JC@@@ -->


<!-- @@@JC   Think for mediagenerator function??@@@ -->
{% load media %}

<html xmlns="http://www.w3.org/1999/xhtml">


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<title>Panamantis</title>
	{% block title %}
	Put title here
	{% endblock %}
	
    {% block css %}
      {% include_media 'main.css' %}
    {% endblock %}

    {% block js %}
      {% include_media 'main.js' %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
	
<!-- @@@JC -Style sheet from fireworks @@@ -->
	<link rel="stylesheet" type="text/css" href="/css/Page1.css" media="all" />
	
	<!--[if IE]>
	<style type="text/css" media="all">.borderitem {border-style: solid;}</style>
	<![endif]-->
	
	{% block analytics %}
<!-- @@@JC - Put analytics here or uncomment this to see where missing @@@ -->
	{% endblock %}
	
	
<!-- @@@JC -  Overwrite above CSS with app specific changes @@@ -->
	{% block addl_styles %}
	{% endblock %}


</head> 






<body>

<!-- @@@JC - wrapper centers webpage 960 @@@ -->
<div id="wrapper">

	{% block content %}
	Put html body here
	{% endblock %}

</div>


</body>
</html>
