<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- 0v2 JC Feb  7, 2014 -- removed this as now use base_d3.html overlaps base_truth -->
<!-- JC. Modified CSS location and all images to /images -->

	<!-- LOADS ALL CSS AND JS MEDIA FILES -->
	<!-- MOBILE VERSION OVERWRITES TO SAVE ON BANDWIDTH -->
	{% block load_all_css_and_js %}
		{% load media %}
	{% endblock %}

{% block main_html_w_cache %}
	<html xmlns="http://www.w3.org/1999/xhtml" manifest="/js/cache.manifest">
{% endblock %}

<head class="no-js"><!-- For modernizr -->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
{% block title %}
	<title>Panamantis (overwritten!)</title>
{% endblock %}
	
{% block css %}
{% endblock css%}
    
{% block seo %}
{% endblock seo %}

{% block load_main_js %}
{% endblock load_main_js%}
    
{% block js %}
{% endblock js %}
    
{% block preload_js %}
{% endblock preload_js%}

{% block extra-head %}
{% endblock extra-head%}
	
{% block analytics %}
	<!-- @@@JC - Put analytics here or uncomment this to see where missing @@@ -->
	<!-- Google Analytics: If the code does not come immediately before the </head>, then google analytics will not pick up the code and will report that tracking is not installed. -->
{% endblock analytics%}
	
{% block mobile-viewport-optimization %}
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock mobile-viewport-optimization %}

{% block favicons %}
  	<link rel="shortcut icon" href="/images/favicon.ico">
  	<meta name="apple-mobile-web-app-capable" content="yes" />  <!-- This may have fixed the splash screen -->
  	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  	<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">
  	<link rel="apple-touch-icon-57x57" href="/images/apple-touch-57x57-precomposed.png">
  	<link rel="apple-touch-icon-57x57-precomposed" href="/images/apple-touch-57x57-precomposed.png">
  	
	<!--  	<link rel="apple-touch-startup-image" href="/images/truthkit_splash_screen_320x460.png"/> --> 
  	<!-- Not sure which splash works: -->
  	<!-- Apparently use media queryies -->
  	<link rel="apple-touch-startup-image" href="/images/truthkit_splash_screen_320x460.png" media="screen and (max-device-width: 320px)" />
	<!--  	<link rel="apple-touch-startup-image" href="/images/truthkit_splash_screen_320x460.png" media="(max-device-width: 480px) and not (-webkit-min-device-pixel-ratio: 2) " /> -->
{% endblock favicons %}
	
	
<!-- @@@JC -  Overwrite above CSS with app specific changes @@@ -->
	{% block addl_styles %}
		<!--[if IE]>
	    <style type="text/css" media="all">.borderitem {border-style: solid;}</style>
	    <![endif]-->
	{% endblock %}

</head> 


<body style="

	    margin: 0px;

        "

>
{% block debug %}
<!-- JC121 Holder for unreleased features.  Likely just raw html -->
{% endblock debug %}

<div id="wrapper">
	<!-- @@@JC - wrapper centers webpage 960 @@@ -->
	{% block content %}
	Put html body here
	{% endblock %}
</div>


{% block js-end %}
{% endblock js-end%}

</body>
</html>


